.header {
  background: linear-gradient(120deg, #56ccf2 75%, #fff 75%);
  padding: 48px 15% 320px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .header__info {
    margin: 80px 0 96px 125px;
    width: 70%; }
    .header__info__main {
      font-weight: 900;
      font-size: 64px; }
    .header__info__text {
      font-size: 24px;
      margin: 40px 0 55px;
      line-height: 36px; }
  .header__button {
    color: #253757;
    background-color: #fff;
    width: 100px; }

@media (max-width: 1000px) {
  .header {
    padding: 50px 10% 320px; }
    .header__info {
      margin: 80px auto 105px; } }

@media (max-width: 750px) {
  .header {
    padding: 48px 0 320px; }
    .header__info {
      margin: 80px auto 105px; }
      .header__info__main {
        text-align: center; }
      .header__info__button {
        padding: 15px 35px; } }

body,
p,
h1,
a {
  margin: 0;
  padding: 0;
  font-family: Muli, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none; }
  @media (max-width: 750px) {
    body,
    p,
    h1,
    a {
      font-size: 20px; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .nav__items--last::after {
    content: "";
    width: calc(100% + 10px);
    height: 4px;
    background: #fcc304;
    border-radius: 2px;
    position: absolute;
    bottom: -10px;
    left: -5px; }
  .nav__logo {
    font-weight: bold;
    font-size: 32px; }
  .nav__items {
    text-transform: none;
    color: #fff;
    margin-left: 55px;
    position: relative; }
    .nav__items--last {
      margin-left: 120px; }
    .nav__items:hover::after {
      content: "";
      width: calc(100% + 10px);
      height: 4px;
      background: #fcc304;
      border-radius: 2px;
      position: absolute;
      bottom: -10px;
      left: -5px; }

@media (max-width: 1250px) {
  .nav__items--last {
    margin-left: 70px; } }

@media (max-width: 1150px) {
  .nav__items {
    margin-left: 50px; }
  .nav__logo {
    margin-bottom: 25px; } }

@media (max-width: 1000px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .nav :last-child {
      margin: 15px; }
    .nav__items {
      font-size: 30px;
      margin: 15px; }
    .nav__logo {
      font-size: 40px; } }

.button {
  padding: 15px 65px;
  border-radius: 65px;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .button:hover {
    opacity: 0.9;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.vision__button {
  background: #2f80ed;
  color: #fff;
  padding: 17px 89px; }

.form__button {
  background: #2f80ed;
  color: #fff;
  padding: 17px 92px;
  margin-top: 100px;
  width: 42px;
  margin-bottom: 40px; }

.header,
.main,
.footer {
  max-width: 1900px;
  margin: 0 auto; }

.section {
  padding: 0 15%; }
  .section__slider {
    height: 320px; }
    @media (max-width: 750px) {
      .section__slider {
        padding: 0; } }
  .section__welcome {
    width: 766px;
    padding: 0 15%;
    margin: 165px auto 0; }
    @media (max-width: 750px) {
      .section__welcome {
        margin-top: 235px;
        width: 85%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .section__welcome__text {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #253757; }
  .section__what-we-do__title {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #253757;
    margin: 165px auto; }
    @media (max-width: 750px) {
      .section__what-we-do__title {
        margin: 100px auto; } }
  .section__process {
    margin: 322px 0 0;
    display: grid;
    grid-template-columns: 362px 600px;
    grid-gap: 187px; }
    @media (max-width: 1250px) {
      .section__process {
        grid-template-columns: repeat(auto-fill, 600px);
        grid-gap: 20px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 122px 0 0; } }
    @media (max-width: 750px) {
      .section__process {
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 0; } }
  .section__feature {
    padding-top: 180px;
    padding-bottom: 100px;
    background: url(../images/features/Bg.svg);
    background-size: cover;
    position: relative;
    bottom: 165px;
    z-index: -1; }
    @media (max-width: 750px) {
      .section__feature {
        padding-top: 140px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 0;
        bottom: 55px; } }
  .section__testimonials {
    padding: 0; }
  .section__vision {
    height: 608px;
    background: url(../images/CTA.png);
    background-size: cover; }
  .section__communication {
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.slider {
  width: 100%;
  height: 640px;
  background: url(../images/slider/slide-img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -320px; }
  .slider__arrow {
    left: 0;
    top: calc(50% - 64px / 2);
    position: relative; }
    .slider__arrow__button {
      outline: none;
      border: none; }
      .slider__arrow__button-right {
        position: absolute;
        width: 82px;
        height: 64px;
        background: #fcc304;
        border-radius: 0 32px 32px 0; }
      .slider__arrow__button-left {
        position: absolute;
        left: -82px;
        width: 82px;
        height: 64px;
        background: #fcc304;
        border-radius: 32px 0 0 32px; }
  .slider__info {
    position: absolute;
    bottom: 86px;
    left: 98px; }
    .slider__info__intro {
      color: #56ccf2;
      font-weight: 800;
      font-size: 13px;
      line-height: 19px;
      text-transform: uppercase;
      margin-bottom: 4px; }
    .slider__info__text {
      font-weight: 900;
      font-size: 20px;
      color: #fff;
      line-height: 27px; }

@media (max-width: 750px) {
  .slider__arrow__button {
    top: 320px; }
    .slider__arrow__button-right {
      left: 50%; }
    .slider__arrow__button-left {
      left: calc(50% - 82px); } }

.socials {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -330px;
  bottom: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 540px; }
  .socials__link {
    list-style-type: none;
    text-transform: uppercase; }
  .socials__item {
    font-weight: 800;
    font-size: 13px;
    color: #253757;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .socials__item:hover {
    color: #56ccf2; }

@media (max-width: 750px) {
  .socials {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    position: relative;
    right: 0;
    top: 760px;
    margin: 0 10px; }
    .socials__item {
      font-size: 20px;
      margin: 0 10px; } }

.block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .block-title__icon {
    width: 21px;
    height: 21px;
    margin-right: 16px; }
    @media (max-width: 750px) {
      .block-title__icon {
        width: 28px;
        height: 28px; } }
  .block-title__text {
    font-weight: 800;
    font-size: 16px;
    color: #56ccf2;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 19px 0; }
    @media (max-width: 750px) {
      .block-title__text {
        font-size: 24px; } }
    .block-title__text--light {
      color: #fff; }
  .block-title__heading {
    font-size: 32px;
    line-height: 45px;
    color: #253757;
    font-weight: 900;
    margin: 5px 0; }

.what-we-do {
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  grid-gap: 128px; }
  .what-we-do__cards__image {
    width: 160px;
    height: 160px;
    border-radius: 50%; }
  .what-we-do__cards__title {
    font-weight: 900;
    font-size: 20px;
    color: #253757;
    line-height: 27px;
    padding: 64px 0 32px; }
  .what-we-do__cards__text {
    color: #334563;
    line-height: 24px; }

@media (max-width: 750px) {
  .what-we-do {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 90px; }
    .what-we-do__cards__image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto; }
    .what-we-do__cards__title {
      margin: 0;
      padding-top: 40px; } }

.process-block__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 45px;
  margin: 0 0 64px;
  color: #253757; }

.process-block__text {
  color: #334563;
  line-height: 24px; }

@media (max-width: 750px) {
  .process-block {
    width: 300px; } }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px; }
  .cards__item {
    width: 240px;
    height: 260px;
    text-align: center;
    padding: 48px 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #fff;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    margin-right: 58px; }
    .cards__item--top {
      position: relative;
      margin-top: 130px; }
      @media (max-width: 750px) {
        .cards__item--top {
          margin-top: 10px; } }
    .cards__item__block {
      height: 48px;
      width: 48px;
      border-radius: 50%;
      display: inline-block; }
    .cards__item__number {
      font-weight: 900;
      font-size: 40px;
      position: relative;
      top: 10px;
      right: 40px; }
    .cards__item__text {
      margin-top: 32px;
      font-size: 13px;
      line-height: 19px;
      color: #253757; }
    .cards__item__block--first {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#56ccf2), to(#56ccf2)), #c4c4c4;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
      opacity: 0.1; }
    .cards__item__number--first {
      color: #6dd3f4; }
    .cards__item__block--second {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      opacity: 0.1; }
    .cards__item__number--second {
      color: #fcc81b; }
    .cards__item__block--third {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#03d542), to(#03d542)), #c0bdbd;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c0bdbd;
      opacity: 0.1; }
    .cards__item__number--third {
      color: #15d850; }
    .cards__item__block--fourth {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
      opacity: 0.1; }
    .cards__item__number--fourth {
      color: #f36060; }

@media (max-width: 750px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .cards__item {
      margin: 0; }
      .cards__item__text {
        font-size: 17px;
        line-height: 22px; } }

.feature {
  width: 362px; }
  @media (max-width: 750px) {
    .feature {
      width: 300px; } }
  .feature__title {
    font-size: 32px;
    line-height: 45px;
    color: #253757;
    font-weight: 900;
    margin: 5px 0; }
  .feature__elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 64px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 750px) {
      .feature__elements {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .feature__elements__icon {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-right: 32px; }
      @media (max-width: 750px) {
        .feature__elements__icon {
          margin: 15px 0; } }
    .feature__elements__text {
      color: #fff;
      line-height: 24px;
      width: 263px; }

.testimonials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .testimonials__title {
    margin-left: 15%; }
  .testimonials__heading {
    margin-left: 15%; }
  .testimonials__cards {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 314px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 86px 35px 0;
    padding: 95px 32px 58px;
    background: #fefefe;
    -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
            box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05); }
  .testimonials__decor {
    width: 64px;
    height: 162px;
    border-radius: 32px;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    position: absolute;
    top: 35px;
    left: 125px; }
    .testimonials__decor--blue {
      background: #56ccf2; }
    .testimonials__decor--yellow {
      background: #fcca21; }
    .testimonials__decor--red {
      background: #f36060; }
  .testimonials__photo {
    position: relative;
    width: 95px;
    height: 124px;
    z-index: 1; }
  .testimonials__text {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    margin: 5px 0 64px;
    line-height: 22px;
    color: #253757; }
  .testimonials__name {
    font-weight: 700;
    font-size: 13px;
    color: #152032;
    position: relative; }
    .testimonials__name--blue::after {
      content: "";
      height: 2px;
      width: 27%;
      position: absolute;
      bottom: 50px;
      left: 92px;
      border-radius: 2px;
      background: #56ccf2; }
    .testimonials__name--yellow::after {
      content: "";
      height: 2px;
      width: 27%;
      position: absolute;
      bottom: 50px;
      left: 92px;
      border-radius: 2px;
      background: #fcca21; }
    .testimonials__name--red::after {
      content: "";
      height: 2px;
      width: 27%;
      position: absolute;
      bottom: 50px;
      left: 92px;
      border-radius: 2px;
      background: #f36060; }
  .testimonials__profession {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    line-height: 19px; }
    .testimonials__profession--blue {
      color: #56ccf2; }
    .testimonials__profession--yellow {
      color: #fcca21; }
    .testimonials__profession--red {
      color: #f36060; }

.vision {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 100px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .vision__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #253757; }
  .vision__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #334563;
    text-align: center;
    margin: 15px 0 70px; }

.form {
  width: 656px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__title {
    margin-bottom: 30px; }
  .form__item {
    width: 100%;
    padding: 18px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 30px; }
    .form__item::-webkit-input-placeholder {
      color: #152032;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px; }
    .form__item::-moz-placeholder {
      color: #152032;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px; }
    .form__item:-ms-input-placeholder {
      color: #152032;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px; }
    .form__item::-ms-input-placeholder {
      color: #152032;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px; }
    .form__item::placeholder {
      color: #152032;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px; }

@media (max-width: 750px) {
  .form__title {
    margin: 100px 0 0; }
  .form__button {
    margin: 80px auto 20px; } }

.contact {
  max-width: 362px; }
  .contact__block {
    margin-top: 43px; }
  .contact__way {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #334563; }
  .contact__info {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    color: #56ccf2;
    line-height: 36px;
    font-style: normal; }
  .contact__icon {
    margin-top: 50px; }

.icon {
  margin-right: 48px; }

@media (max-width: 750px) {
  .contact {
    margin-top: 60px; }
    .contact__icon {
      text-align: center; }
  .icon {
    margin: 0 24px; } }

.footer {
  padding: 100px 15% 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #253757;
    margin-left: 63px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .footer__link:hover {
      color: #56ccf2; }
  .footer__item {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #253757; }

@media (max-width: 950px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .footer__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer__link {
      margin: 20px;
      font-size: 24px; }
    .footer__item {
      text-align: center;
      margin-top: 25px; } }

/*# sourceMappingURL=main.css.map */
