.header {
  height: 848px;
  background: linear-gradient(110deg, #56ccf2 75%, #fff 75%);
  padding: 48px 227px;
  color: #fff; }
  .header__info {
    margin: 80px 0 22px 125px; }
    .header__info__main {
      font-weight: 900;
      font-size: 64px; }
    .header__info__text {
      font-size: 24px;
      margin: 40px 0 55px;
      line-height: 36px; }
  .header__button {
    color: #253757;
    background-color: #fff; }

@media (max-width: 1000px) {
  .header {
    padding: 50px;
    background: linear-gradient(130deg, #56ccf2 90%, #fff 90%); } }

body,
p,
h1,
a {
  margin: 0;
  padding: 0;
  font-family: Muli, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav :last-child {
    margin-left: 135px; }
  .nav :last-child::after {
    content: "";
    width: calc(100% + 10px);
    height: 4px;
    background: #fcc304;
    border-radius: 2px;
    position: absolute;
    bottom: -10px;
    left: -5px; }
  .nav__logo {
    font-weight: bold;
    font-size: 32px;
    margin-right: 80px; }
  .nav__items {
    text-transform: none;
    color: #fff;
    margin-left: 63px;
    position: relative; }
    .nav__items:hover::after {
      content: "";
      width: calc(100% + 10px);
      height: 4px;
      background: #fcc304;
      border-radius: 2px;
      position: absolute;
      bottom: -10px;
      left: -5px; }

@media (max-width: 1000px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .nav :last-child {
      margin: 10px; }
    .nav__items, .nav__logo {
      margin: 10px; } }

.button {
  padding: 15px 65px;
  border-radius: 65px;
  font-weight: bold; }

.section {
  padding: 0 227px; }

.slider {
  width: 100%;
  height: 640px;
  background: url(../images/slider/slide-img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -320px; }
  .slider__arrow {
    width: 163px;
    height: 64px;
    background: #fcc304;
    border-radius: 32px;
    position: relative;
    right: calc(163px / 2);
    top: calc(50% - 64px / 2);
    text-align: center; }
    .slider__arrow__button {
      width: 12px;
      height: 24px;
      position: relative;
      top: calc(50% - 24px / 2); }
      .slider__arrow__button-right {
        position: absolute;
        right: 30px; }
      .slider__arrow__button-left {
        position: absolute;
        left: 30px; }
  .slider__info {
    position: absolute;
    bottom: 86px;
    left: 98px; }
    .slider__info__intro {
      color: #56ccf2;
      font-weight: 800;
      font-size: 13px;
      line-height: 19px;
      text-transform: uppercase;
      margin-bottom: 4px; }
    .slider__info__text {
      font-weight: 900;
      font-size: 20px;
      color: #fff;
      line-height: 27px; }

.social {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -330px;
  bottom: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 540px; }
  .social__link {
    list-style-type: none;
    text-transform: uppercase; }
    .social__link > a {
      font-weight: 800;
      font-size: 13px;
      color: #253757;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .social__link > a:hover {
      color: #56ccf2; }

/*# sourceMappingURL=main.css.map */
